body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: black;
}

nav ul, footer ul {
    font-family:'Londrina Shadow', cursive;
    padding: 0px;
    list-style: none;
    color: #aaaaaa;
    font-size: 20px;

}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 90px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
  text-rendering: optimizelegibility;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0 0 70px 0;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
    height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  opacity: 0;
}

ul li.nth-child(2) {
  margin-left: 10px;
}

.show-description p {
  height: 150px;
}
.show-description small {
  opacity: 1;
}
.who{
  background-image: url("img/curdin_ss.png");
  background-repeat: no-repeat;
  background-position: center;
}
.what{
  background-image: url("img/rails_routes.png");
  background-repeat: no-repeat;
  background-position: top;
}
.how{
  background-image: url("img/redis_ex.png");
}
.logos {
  float: right;
}

.linkedin {
  height: 25px;
  width: auto;
}

.github {
  height: 20px;
  width: auto;
}

.twitter {
  height: 20px;
  width: auto;
}

footer {
    /*border-top: 1px solid #d5d5d5;*/
    font-size: .8em;
    text-align: left;
    color: #aaaaaa;
}

@media (max-width: 500px) {


}

body.contentpane {
  background: none;
  background-color: #fff;
  padding: 20px;
}

div.mailto-close {
  float: right;
}
